PORT=your_port
MONGO_URL=your_mongodb_url

# jwt secrets
ACCESS_TOKEN_SECRETE=your_secrete
REFRESH_TOKEN_SECRETE=your_secrete

#Sendgrid api
PROD_SENDGRID_API=Your_sendgrid_api
PROD_SENDGRID_SENDER_EMAIL=your_sendgrid_sender_email
